.QuestDirectionArrowContainer
{
  width: fit-children;
  height: fit-children;
}

.EdgeContainer
{
  flow-children: down;
  width: 200px;
  visibility: collapse;
}

#EdgeQuestTooltip
{
	color: whitesmoke;
	font-size: 10px;
	text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.8);
	letter-spacing: 1px;
	text-transform: uppercase;
  width: fill-parent-flow(0.8);
  text-align: center;
  white-space: nowrap;
  background-color: gradient( linear, 0% 50%, 100% 50%, color-stop(0.0, #0000 ), color-stop(0.15, #00000054), color-stop(0.85, #00000059), color-stop(1.0, #00000000 ) );
  padding-top: 5px;
  padding-bottom: 5px;
}

.OnScreenContainer
{
  flow-children: down;
  width: 300px;
  visibility: visible;
}

.OnScreenPointer
{
    width: 24px;
    height: 24px;
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-right: 3px;
    wash-color: white;
    horizontal-align: center;
    margin-top: 5px;
    animation-name: oscillate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; 
    padding-bottom: 20px;
}

@keyframes 'oscillate'
{
  0%   {transform: rotateZ( 90deg ) translateY( 0px );}
  50%  {transform: rotateZ( 90deg ) translateY( -3px );}
  100% {transform: rotateZ( 90deg ) translateY( 0px );}
}

.OnEdge .EdgeContainer
{
  visibility: visible;
}
.OnEdge .OnScreenContainer
{
  visibility: collapse;
}

#QuestDirectionArrow
{
  width: 24px;
  height: 24px;
  horizontal-align: center;
}