.Root {
    width: 100%;
    height: 100%;
    align: left bottom;
    z-index: -100;
}

#MainPanel {
    width: fit-children;
    height:  fit-children;
    align: left bottom;
    margin: 0px 0px 10px 10px;
    
}

.Hidden
{
    opacity: 0;
}

#HeroMovieConatiner {
    width: 120px;
    height: 120px;
    background-image: url("file://{images}/custom_game/ui/hunters_healthbar/background_hero_movie.png");
    background-size: 100% 100%;
}

#HeroMovie {
    border-radius: 100%;
    width: 94px;
    height: 94px;
    align: center center;
    margin: 0px 0px 1.5px 0px;
}

#HeroBarsContainer {
    width: fit-children;
    height:  fit-children;
    flow-children: down-wrap;
    margin-left: 95px;
    vertical-align: bottom;
}

#HPBarContainer {
    transform: skew( -20deg );
    width: 300px;
    padding-left: 10px;
    padding-right: 5px;
}

#ShildBarContainer {
    transform: skew( -20deg );
    width: 290px;
    padding-right: 7px;
    padding-bottom: 3px;
    margin-left: 20px;
}

.BarBG {
    width: 100%;
    height: 24px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #010307 ), to( #152131 ));
    border: 1px solid rgba(68, 68, 68, 0.24);
    border-brush: gradient( linear, 0% 0%, 0% 100%, from( #2e2e2e ), to( #6d777b53 ));
    horizontal-align: left;
}

.BarMID {
    width: 100%;
    height: 24px;
    transition-property: width;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

.BarFG {
    width: 100%;
    height: 24px;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.04);
    transition-property: width;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
}

#HPScene {
    width: 100%;
    height: 100%;
    hue-rotation: 255deg;
    saturation: 0.7;
    brightness:6;
    opacity: 0.2;
    overflow: noclip;
    blur: gaussian( 1px );
}

#ShildScene {
    width: 100%;
    height: 100%;
    hue-rotation: -250deg;
    saturation: 0.7;
    brightness:6;
    opacity: 0.2;
    overflow: noclip;
    blur: gaussian( 1px );
}

#HPBarMID {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #8f2f1e ), color-stop( 0.48, #df6565 ), color-stop( 0.52, #b54d52 ), to( #dd9a95 ));
}

#HPBarFG {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #ffe4df ), color-stop( 0.48, #d76b6b ), color-stop( 0.52, #b54d52 ), to( #64241f ));
}

#ShildBarMID {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #319caf ), color-stop( 0.48, #436280 ), color-stop( 0.52, #2f667c ), to( #1f5c64 ));
}

#ShildBarFG {
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #dffffd ), color-stop( 0.48, #6bd7d7 ), color-stop( 0.52, #4d9db5 ), to( #1f5c64 ));
}

.BGText {
    color: rgb(255, 255, 255);
    align:  center center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -2px -1px 3px 2 #000000;
    transform: skew(20deg);
}