.Root {
    width: 100%;
    height: 100%;
}

.LabelTitleText{
    font-size: 35px;
    color: rgba(255, 255, 255, 0.616);
    letter-spacing: 1px;
    font-weight: normal;
    text-overflow:ellipsis;
    align:center top;
    margin-top: 15px;
}

.LabelUndecidedText{
    font-size: 35px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.616);
    font-weight: normal;
    text-overflow:ellipsis;
    align:center top;
    margin-top: 5px;
}

.LabelText{
    font-size: 25px;
    color: rgb(51, 39, 39);
    text-shadow: 0px 0px 2px rgba(255, 253, 253, 0.692);
    letter-spacing: 1px;
    font-weight: bold;
    text-overflow:ellipsis;
    align: center center;
    text-transform: uppercase;
}

.LabelContainerClass {
    width: 300px;
    height: 50px;
    align: center top;
    margin-top: 35px;
}

#MainPanel {
    width: 800px;
    height: 600px;
    align:  center center;
    background-image: url("file://{images}/custom_game/ui/frames/frame.png");
    background-size: 100% 100%;
    background-color: gradient( radial, 0% 0%, 0% 0%, 100% 100%, from( #181d25 ), to( #050609));
    transition-duration: 0.4s;
    transition-property: opacity;
    margin-bottom: 100px;
}

.Hidden
{
    opacity: 0;
}

#SelectHunterPanel {
    width: 300px;
    height: 400px;
    align: left top;
    margin-left: 60px;
    margin-top: 50px;
}

#SelectHunterButton {
    width: 250px;
    height: 250px;
    align: center center;
    background-image: url("file://{images}/custom_game/ui/team_selection/hunters_preview.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#HunterPlayersContainer {
    width: fit-children;
    max-width: 100%;
    height: 70px;
    align: center bottom;
    flow-children: right-wrap;
}

#SelectMonsterPanel {
    width: 300px;
    height: 400px;
    align: right top;
    margin-right: 60px;
    margin-top: 50px;
}

#SelectMonsterButton {
    width: 250px;
    height: 250px;
    align: center center;
    background-image: url("file://{images}/custom_game/ui/team_selection/monsters_preview.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#MonsterPlayersContainer {
    width: fit-children;
    max-width: 100%;
    height: 70px;
    align: center bottom;
    flow-children: right-wrap;
}

#SelectHunterButton:hover {
    width: 255px;
    height: 255px;
    box-shadow: 0px 0px 200px -160px rgb(71, 143, 103);
}

#SelectMonsterButton:hover {
    width: 255px;
    height: 255px;
    box-shadow: 0px 0px 200px -170px rgb(151, 62, 62);
}

#CloseButton {
    width: 25px;
    height: 25px;
    align: right top;
    background-color: #000000da;
}

#Timer {
    font-size: 35px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.616);
    font-weight: normal;
    text-overflow:ellipsis;
    align:right top;
    margin-right: 30px;
    margin-top:  15px;
}

#UndecidedPlayersPanel {
    width: 100%;
    height: 135px;
    align: center bottom;
    margin: 8px 8px 8px 8px;
}

#UndecidedPlayersContainer {
    width: fit-children;
    height: 70px;
    align: center bottom;
    flow-children: right-wrap;
}

#Avatar{
    align: left center;
    width: 50px;
    height: 50px;
}